# ################# BACKEND #################

### apps / server
APP_PORT=3000
COOKIE_SECRET=soM3R4nd0mC00kieSecr3t
TOKEN_EXPIRATION_HOURS=336

### libs / aws
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=access-key
AWS_SECRET_ACCESS_KEY=secret-key

AWS_UPLOADER_DATA_BUCKET=dnd-api-stage
AWS_CLOUDFRONT_DISTRIBUTION_URL="https://cf.aws.com"

# for mocks
MINIO_ACCESS_KEY=access-key
MINIO_SECRET_KEY=secret-key
MINIO_ENDPOINT_URL="http://localhost:9000"

### libs / Database
DB_HOST="localhost"
DB_PORT=3306
DB_USERNAME="root"
DB_PASSWORD="root"
DB_DATABASE_APP="APP"
DB_DATABASE_IDM="IDM"

### libs / mailer
SMTP_IS_LOCAL=true
SMTP_HOST="0.0.0.0"
SMTP_PORT=465
SMTP_USER="smtp_user"
SMTP_PASSWORD="smtp_password"

SMTP_MAILDEV_WEB_IP="0.0.0.0"
SMTP_MAILDEV_WEB_PORT=1080
SMTP_MAILDEV_WEB_USER="maildev_web_user"
SMTP_MAILDEV_WEB_PASS="maildev_web_password"

### project
NODE_ENV="local"
CLOUD_PROVIDER="AWS"
